.text-content .btn-group {
    margin: 0 0px 26px 0;
}

.text-content .dropdown-menu {
    font-size: 17px;
    min-width: 90px;
    background-color: white;
}
.product-category .flt-item{
    padding-bottom:20px;
}

.text-content .btn-group .btn-danger {
    width: 90px;
}

.text-content .btn-group a {
    color: #d9534f;
    font-weight: bold;
}

.text-content .btn-group2 {
    margin: 0 0px 26px 0;
}

.text-content .dropdown-menu2 {
    font-size: 17px;
    min-width: 136px;
    background-color: white;
}

.text-content .btn-group2 .btn-danger {
    width: 110px;
}

.text-content .btn-group2 {
    color: #d9534f;
    font-weight: bold;
}

    .text-content .btn-group2 .btn-success {
        padding: 6px 40px 6px 40px;
    }

    .text-content .btn-group2 a {
        color: #688E26;
        font-weight: bold;
    }

.single-post-contain{

}

.dnone{
    display:none;
}



/*.btn-group3 {
    margin: 0 0px 26px 0;
}*/

.categoriesdropdown {
    font-size: 15px;
    min-width: 138px;
    background-color: white;
    border-radius: 5px;
}

.btn-group3 .buton-danger {
    width: 138px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 2px solid #80808030;
    border-radius: 18px;
}

.btn-group3 a {
    color: #808080;
    font-weight: 500;
    padding-left: 5px;
}

    .btn-group3 a:hover {
        color: #688E26;
        font-weight: bold;
    }


.btn-group3 i {
    margin: 0px 0px 0px 2px;
    color: grey;
    font-size: 13px;
}

.btn-group3 .buton-danger2 {
    width: 168px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 2px solid #80808030;
    border-radius: 18px;
}

.rate .contain-product .info .product-title {
    color: grey;
    font-size: 15px;
}

.rate .contain-product .info .categories {
    color: #688E26;
    font-weight: bold;
    font-size: 19px;
}

.tab-content2 .product-item .categories {
    color: #688E26;
    font-weight: bold;
    font-size: 19px;
}

.tab-content2 .product-item .title-1 {
    color: grey;
    font-size: 15px;
}

.rate .info .price {
    padding-bottom: 10px;
}

tox-statusbar__path {
    display: none;
}

.CommentLogin {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.post-comments .btn {
    background-color: #688E26;
    color: white;
    margin-top: 10px;
    padding: 5px 25px 5px 25px;
}

.product-category grid-style {
    padding-bottom: 50px;
}

.Sifarisler button {
    background-color: #688E26;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 9px 12px 9px 12px;
}

.mobileSearch{
    display:none !important;
}

@media (max-width: 600px) {
    .mobileSearch {
        display: block !important;
    }
        .mobileSearch button {
            color: white;
            background-color: #688E26;
            border: none;
            border-radius: 5px;
            padding: 3px 20px 3px 20px;
            margin-left: 7px;
        }
}

.mobileSearch .mobilInput {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 8px 72px 4px 10px;
    margin-left: 97px;
    margin-top: 6px;
    max-width: 100%;
    outline: none;
    border-radius: 10px 10px 0 0;
}